# This unit's instance name is the EOSIO network name
# The instance requires an environment file /etc/default/aa_stats_%i
# The mandatory variable DBWRITE_OPTS should include at least
# the websocket server port for Chronicle export.


[Unit]
Description=aa_stats DB Writer
After=mariadb.service

[Service]
Type=simple
EnvironmentFile=/etc/default/aa_stats_%i

ExecStart=/usr/bin/perl /opt/aa_stats/aa_stats_dbwriter.pl --network=%i $DBWRITE_OPTS
TimeoutSec=45s
Restart=always
User=root
Group=daemon
KillMode=control-group


[Install]
WantedBy=multi-user.target


